*
*:after
*:before
    box-sizing: border-box;

html
    height 100%
    margin 0
    padding 0

body
    height 100%
    margin 0
    padding 0
    verdana 13
    color $texto

::selection
    background $bege
    color #fff

.centro
    width 980px
    position relative
    margin 0 auto
    +below($tablet)
        width 90%