// Responsive Cutoff

rupture.desktop-cutoff = $tablet = 1080px
rupture.mobile-cutoff  = 710px


// Colors

$cinza = #efefef
$cinza-escuro = #282828
$bege = #d1aa67
$texto = #8c8c8c


// Fonts

@import url('http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic')

droid($size, $style = regular)
    font-size $size + 0px
    font-family 'Droid Sans', 'Georgia', 'Times New Roman', serif
    font-weight 400
    if $style == italic
        font-style italic
    else if $style == bold
        font-weight 700

verdana($size, $style = regular)
    font-size $size + 0px
    font-family 'Verdana', 'Tahoma', 'Arial', sans-serif
    font-weight normal
    if $style == italic
        font-style italic
    else if $style == bold
        font-weight bold
    else if $style == bold-italic
        font-style italic
        font-weight bold