#contato
    .texto
        droid 15
        margin-bottom 35px
        clearfix()
        .frase
            line-height 1.5
            margin 0
            col(2/5, gutter: 1.53)
            +below($tablet)
                stack()
                margin-bottom 10px
                br
                    display none
        .informacoes
            line-height 1.3
            margin 0
            col(3/5)
            +below($tablet)
                stack()
            span
                droid 18
            a
                display block
                color $bege
                text-decoration none
                transition .3s ease color
                &:hover
                    color $cinza-escuro
    #contato-form
        clearfix()
        .left
            col(2/5, gutter: 1.53)
            +mobile()
                stack()
        .right
            col(3/5)
            +mobile()
                stack()
        input
        textarea
            display block
            width 100%
            margin-bottom 15px
            outline 0
            droid 13
        input[type='text']
        input[type='email']
        textarea
            padding 12px
            border 1px solid #e1e1e1
        textarea
            min-height 153px
            resize vertical
        input[type='submit']
            border 0
            width auto
            float right
            droid 18 italic
            color white
            background $bege
            border-radius 4px
            padding 14px 17px
            box-shadow 0 0 2px rgba(0, 0, 0, .3)
            transition color .3s ease
            &:hover
                color $cinza-escuro
            +mobile()
                margin-bottom 40px
        .contato-resposta
            display none
            droid 16 italic
            color $bege
            line-height 49px
            +mobile()
                stack()
                display none
                line-height 1.2
                text-align center
                margin-top 25px