#depoimentos
    text-align center
    .depoimento
        position relative
        width 100%
        display block
        margin-bottom 60px
        &:after
            content ""
            display block
            position relative
            width 30px
            height 1px
            background $bege
            top 30px
            opacity .45
            margin 0 auto
        .texto
            droid 18 italic
            color $bege
            line-height 1.3
            margin 0 0 12px
            +mobile()
                font-size 16px
                display block
        .nome
            verdana 13
            margin 0
        a
            display inline-block
            position relative
            &:hover:after
                opacity 1
            &:after
                content ""
                display block
                position absolute
                width 100%
                height 100%
                top 0
                left 0
                opacity 0
                transition opacity .3s ease
                background url('../img/layout/mais-hover.png') no-repeat center
            &:last-of-type
                margin-bottom 20px
                +mobile()
                    margin-bottom 10px
            +mobile()
                width 25%
                img
                    width 100%
                    height auto
    .pagination
        display inline-block
        list-style-type none
        background #f3e9d9
        padding 10px
        border-radius 4px
        li
            display inline-block
            margin 0 5px
            verdana 13 bold
            &:first-child
            &:last-child
                display none
            a
                color $bege
                text-decoration none
                transition color .3s ease
                &:hover
                    color black
            span
                color black