// slider: _slick.styl

#fotos
    .fotos-thumb
        a
            display inline-block
            position relative
            width auto
            transition border .3s ease
            +below($tablet)
                width 100%
                height auto
            img
                display block
                +below($tablet)
                    width 100%
                    height auto
            &:after
                content ""
                display block
                position absolute
                width 100%
                height 100%
                opacity .8
                top 0
                left 0
                transition background .3s ease
        &.active a:after
            background $bege
    .foto-outer
        min-height 100px
        background url('../img/layout/foto-loader.gif') no-repeat center $cinza
        width 100%
        margin-top 50px
        clearfix()
        padding 30px 0
        +below($tablet)
            margin-top 25px
        +mobile()
            padding 18px 0
    #foto-wrapper
        text-align center
        img
            box-shadow 0 0 4px rgba(0, 0, 0, .3)
            +below($tablet)
                width 100%
                max-width 600px
                height auto

.slick-list
    +tablet()
        width 90% !important
    +mobile()
        width 80% !important

.slick-prev
.slick-next
    +tablet()
        width 25px !important
    +mobile()
        width 20px !important