#home
    .slider-wrapper
        background url('../img/layout/slider-bg.jpg') no-repeat center #d7af73
        background-size cover
        clearfix()
        .slide
            width 100%
            padding 40px 0 0
            position relative
            +mobile()
                padding-top 20px
            .slider-texto
                float left
                position relative
                width 525px
                h2
                    margin 0
                    padding 0
                    color white
                    droid 32 bold
                    line-height 1.3
                    display inline-block
                    text-shadow 0 2px 1px rgba(0, 0, 0, 0.2)
                p
                    verdana 13
                    line-height 1.4
                    color #7b6443
                    margin 10px 0 0
                a
                    display inline-block
                    droid 14 bold
                    color white
                    padding 16px 18px
                    text-transform uppercase
                    text-decoration none
                    border 2px solid white
                    border-radius 4px
                    margin 20px 0 40px
                    +mobile()
                        margin 25px 0
                    transition background .3s ease, color .3s ease
                    &:hover
                        background white
                        color $bege
                +mobile()
                    width 100%
                    padding 0 10px
                +tablet()
                    width 45%
            .slider-imagem
                position absolute
                top 0
                right 0
                +mobile()
                    display none
                +tablet()
                    width 50%
                img
                    +tablet()
                        max-width 426px
                        width 100%
                        height auto


    #slider-pager
        +mobile()
            display none
        height 42px
        text-align center
        a
            display inline-block
            width 12px
            height 12px
            border 3px solid $bege
            border-radius 10px
            opacity .75
            text-indent -9999px
            margin 0 3px
            margin-top 15px
            transition border .3s ease
            &:hover
                border-color $cinza-escuro
            &.cycle-pager-active
                border-color $cinza-escuro
                background $cinza-escuro

    .frase
        background $cinza
        text-align center
        margin 0
        padding 28px 0 150px
        droid 24 italic
        color #aaaaaa
        line-height 1.3
        +below($tablet)
            padding-left 5%
            padding-right 5%

    .chamadas
        position relative
        top -120px
        margin-bottom -60px
        clearfix()
        a
            position relative
            col(1/3)
            text-align center
            text-decoration none
            h4
                droid 18 italic
                color $bege
                transition color .3s ease
            p
                verdana 13
                color $texto
                transition color .3s ease
            &:after
                content ""
                display block
                position relative
                width 30px
                height 5px
                margin 30px auto 0
                background url('../img/layout/chamada-hover-seta.png')
                opacity 0
                transition opacity .3s ease
                +below($tablet)
                    background none
                +mobile()
                    margin-top 45px
            &:hover
                h4
                    color $cinza-escuro
                p
                    color $bege
                img
                    background url('../img/layout/chamada-hover.png')
                    +below($tablet)
                        background none
                &:after
                    opacity 1
            +tablet()
                col(1/3, gutter: 10)
                position relative
                text-align center
            +below($tablet)
                img
                    width 100%
                    max-width 214px
                    height auto
                    &:hover
                        background none
            +mobile()
                stack()
                h4
                    margin .8em 0 1.1em