#servicos-home
    clearfix()
    a
        col(1/3, gutter: 5, cycle: 3)
        display inline-block
        position relative
        text-align center
        background $cinza
        border-radius 4px
        text-decoration none
        margin-top 60px
        margin-bottom 45px
        padding 0 20px 10px
        transition background .3s ease
        &:hover
            background $bege
            h2
            p
                color white
            .imagem:after
                opacity 1
        .imagem
            position relative
            margin-top -60px
            &:after
                content ""
                display block
                position absolute
                width 100%
                height 100%
                top 0
                left 0
                background url('../img/layout/mais-hover.png') no-repeat center
                opacity 0
                transition opacity .3s ease
            img
                display inline-block
        h2
            droid 18 italic
            color $bege
        p
            verdana 13 italic
            color white
            opacity .7
            display none
    +below($tablet)
        a
            col(1/2, gutter: 5, uncycle: 3, cycle: 2)
            display inline-block
            position relative
            text-align center
            background $bege
            h2
            p
                color white
            p
                display block !important
    +mobile()
        a
            col(1/1, uncycle: 2)
            display inline-block
            position relative
            text-align center


#servicos-categoria
    clearfix()
    .categoria
        width 620px
        float right
        +below($tablet)
            width 100%
            float none
        h2
            droid 14 italic
            color $bege
            margin 0
        h1
            droid 27 italic
            color $cinza-escuro
            margin-top 0
        .descricao
            margin-bottom 35px
            p
                margin-bottom 8px
        .subcategoria-thumb
            position relative
            display table
            width 100%
            height 100%
            margin-bottom 10px
            color white
            text-decoration none
            overflow hidden
            clearfix()
            &:hover div
                background $cinza-escuro
            div
                display table-cell
                position relative
                width 200px
                height 100%
                background $bege
                text-align center
                vertical-align middle
                transition background .3s ease
                droid 14 italic
                padding 0 30px
            img
                display table-cell
            +tablet()
                div
                    width 40%
                img
                    width 100%
                    height auto
            +mobile()
                img
                    width 100%
                    height auto
                div
                    position absolute
                    top 5px
                    left 5px
                    display block
                    height auto
                    width auto
                    padding 10px
                    background rgba(208, 169, 104, .9)
        .voltar
            border-top 1px solid #e9d8bb
            padding-top 15px
            margin-top 30px
            droid 13 italic
            a
                display inline-block
                text-decoration none
                color $bege
                transition color .3s ease, padding .3s ease
                line-height 13px
                background url('../img/layout/seta-voltar.png') no-repeat center left
                padding-left 10px
                &:hover
                    color $cinza-escuro
                +below($tablet)
                    margin-top 15px
    aside
        width 280px
        float left
        +below($tablet)
            width 100%
            float none
            margin-top 30px
        ul
            list-style-type none
            padding 25px 15px
            margin 0
            border-top 1px solid #e9d8bb
            clearfix()
            li
                droid 15
                margin-top 15px
                &:first-child
                    margin-top 0
                +below($tablet)
                    text-align center
                +tablet()
                    width 50%
                    float left
                    margin 10px 0
                    &:first-child
                        margin 10px 0
            a
                color $bege
                text-decoration none
                transition color .3s ease
                &.active
                    droid 15 italic
                    color $cinza-escuro
                    background url('../img/layout/seta-categoria.png') no-repeat center left
                    padding-left 15px
                &:hover
                    color $cinza-escuro
        .marcenaria-capa
            width 100%
            height auto
            display block
            margin-bottom 20px
            +below($tablet)
                display none
        .outros-servicos
            width 100%
            text-align center
            border-top 1px solid #e9d8bb
            h5
                droid 13 italic
                color $bege
                margin 20px 0
            a
                display block
                width 100%
                height auto
                position relative
                margin-bottom 5px
                color white
                droid 14 italic
                +below($tablet)
                    max-width 280px
                    display inline-block
                &:hover span
                    background rgba(0, 0, 0, .6)
                img
                    display block
                    width 100%
                    height auto
                span
                    display block
                    position absolute
                    width 100%
                    height 100%
                    top 0
                    left 0
                    background rgba(208, 169, 104, .8)
                    transition background .3s ease
                    line-height 80px


.servicos-imagens
    width 100%
    border-top 1px solid #e9d8bb
    padding-top 30px
    margin-top 35px
    clearfix()
    a
        display block
        position relative
        margin-bottom 5px
        col(1/5, gutter: 1, cycle: 5)
        &:after
            content ""
            display block
            position absolute
            width 100%
            height 100%
            top 0
            left 0
            background url('../img/layout/mais-hover.png') no-repeat center
            opacity 0
            transition opacity .3s ease
        &:hover:after
            opacity 1
        img
            display block
            +below($tablet)
                width 100%
                height auto
        +tablet()
            col(1/6, gutter: 1, uncycle: 5, cycle: 6)
        +mobile()
            col(1/4, gutter: 1, uncycle: 5, cycle: 4)