header
    position relative
    z-index 101
    width 100%
    height 144px
    background $cinza-escuro
    border-top 2px solid $bege
    box-shadow 0 2px 0 0 rgba(0, 0, 0, 0.2)
    h1
        display block
        float left
        width 166px
        height 98px
        margin 21px 0 0 0
        padding 0
        text-indent -9999px
        a
            display block
            width 100%
            height 100%
            img
                display block
    #mobile-trigger
        display block
        position absolute
        right 8px
        top 40px
        width 30px
        height 20px
        background url('../img/layout/mobile-trigger.png') no-repeat center
        +desktop()
            display none
        +tablet()
            display none
    nav#desktop
        position relative
        float left
        top 30px
        left 100px
        a
            position relative
            display inline-block
            height 88px
            line-height 98px
            margin 0 12px
            droid 16
            color $bege
            text-decoration none
            transition color .3s ease
            &:hover
            &.active
                color white
            &:after
                content ""
                display block
                position absolute
                background transparent
                width 100%
                height 100%
                top 0
                left 0
            &.active:after
                background url('../img/layout/menu-active.png') no-repeat center
        +tablet()
            width 50%
            min-width 390px
            float right
            top 25px
            left 0
            text-align right
            a
                height 30px
                line-height 30px
                &:after
                    display none
        +mobile()
            display none
    ul.social
        position relative
        float right
        width auto
        height 18px
        margin 0
        padding 0
        top 70px
        list-style-type none
        li
            width 18px
            height 18px
            float left
            &:first-child
                margin-right 5px
                +below($tablet)
                    margin-right 10px
        a
            display block
            width 18px
            height 18px
            text-indent -9999px
            transition background .3s ease
            float left
            &.facebook
                background url('../img/layout/facebook.png')
                &:hover
                    background url('../img/layout/facebook-hover.png')
            &.twitter
                background url('../img/layout/twitter.png')
                &:hover
                    background url('../img/layout/twitter-hover.png')
        +tablet()
            clear right
            top 35px
            right 10px
        +mobile()
            position absolute
            right 0
            top 85px


nav#mobile
    display none
    width 100%
    background $bege
    clearfix()
    a
        display block
        width 100%
        float left
        height 50px
        line-height 50px
        text-align left
        padding-left 5%
        text-decoration none
        droid 17
        color #7b6443
        border-top 1px solid #e0c09b
        &:first-child
            border none
        &.active
            color $cinza-escuro
            font-style italic
    +tablet()
        display none
    +desktop()
        display none


footer
    position relative
    width 100%
    padding 40px 0
    background $cinza-escuro
    box-shadow 0 -2px 0 0 rgba(0, 0, 0, 0.2)
    clearfix()
    .footer-links
        float left
        margin-right 50px
        a
            color $bege
            droid 14 bold
            text-decoration none
            display block
            margin-bottom 12px
            transition color .3s ease
            &:hover
                color white
        ul
            list-style-type none
            padding 0 0 0 10px
            li a
                position relative
                color white
                droid 13 regular
                transition color .3s ease
                margin-bottom 8px
                &:hover
                    color $bege
                &:before
                    content ""
                    display block
                    position absolute
                    width 2px
                    height 2px
                    background $bege
                    left -10px
                    top 7px
        +below($tablet)
            display none
    .informacoes
        float right
        text-align center
        p
        a
            margin 0
            padding 0
        .telefone
            droid 18
            color white
            margin-top 24px
        .email
            display inline-block
            droid 14
            color $bege
            text-decoration none
            margin 10px 0 45px
            transition color .3s ease
            &:hover
                color white
        .copyright p
                droid 11
                color #464646
                line-height 1.8
                a
                    color #464646
                    text-decoration none
                    transition color .3s ease
                    &:hover
                        color #5a5a5a
                    &:last-child
                        position relative
                        padding-right 28px
                        &:after
                            content ""
                            display block
                            position absolute
                            right 0
                            top -3px
                            width 19px
                            height 15px
                            background url('../img/layout/trupe.png')
        +below($tablet)
            float none


.conteudo
    margin 50px 0 120px
    +mobile()
        margin 30px 0 100px


.footer-orcamento
    height 62px
    background $cinza
    text-align center
    a
        position relative
        top -50%
        display inline-block
        droid 18 italic
        color white
        background $bege
        text-decoration none
        padding 20px 40px
        box-shadow 0 0 2px rgba(0, 0, 0, .3)
        border-radius 4px
        transition color .3s ease
        &:hover
            color $cinza-escuro


.footer-depoimentos
    background $bege
    text-align center
    padding 42px 0
    a.mais-depoimentos
        display inline-block
        color #7b6443
        border 1px solid #a88758
        padding 10px 16px
        text-decoration none
        border-radius 4px
        droid 15 italic
        transition background .3s ease, color .3s ease
        margin-top 30px
        &:hover
            color white
            background #a88758
    #depoimentos-slider
        clearfix()
    .depoimento
        width 100%
        display block
        .texto
            droid 18 italic
            color white
            line-height 1.3
            margin 0 0 12px
            +mobile()
                font-size 16px
                display block
        .nome
            verdana 13
            color #7b6443
            margin 0
            opacity .8
        a
            display inline-block
            position relative
            &:hover:after
                opacity 1
            &:after
                content ""
                display block
                position absolute
                width 100%
                height 100%
                top 0
                left 0
                opacity 0
                transition opacity .3s ease
                background url('../img/layout/mais-hover.png') no-repeat center
            &:last-of-type
                margin-bottom 20px
                +mobile()
                    margin-bottom 10px
            +mobile()
                width 25%
                img
                    width 100%
                    height auto
    #depoimentos-pager
        margin-top 10px
        text-align center
        a
            display inline-block
            width 12px
            height 12px
            background #b5915f
            border-radius 10px
            opacity .75
            text-indent -9999px
            margin 0 3px
            margin-top 15px
            transition border .3s ease
            border 3px solid transparent
            &:hover
            &.cycle-pager-active
                border-color white
                background transparent

.not-found
    text-align center
    margin 50px 0 125px